@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 195 16% 27%;
    --foreground: 0 0% 98%;
    --card: 195 16% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 195 16% 23%;
    --popover-foreground: 0 0% 98%;
    --primary: 234 64% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 195 16% 35%;
    --secondary-foreground: 0 0% 98%;
    --muted: 195 16% 35%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 174 62% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 16% 35%;
    --input: 195 16% 35%;
    --ring: 174 62% 37%;
    --chart-1: 174 62% 37%;
    --chart-2: 234 64% 49%;
    --chart-3: 210 40% 98%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 195 16% 27%;
    --foreground: 0 0% 98%;
    --card: 195 16% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 195 16% 23%;
    --popover-foreground: 0 0% 98%;
    --primary: 234 64% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 195 16% 35%;
    --secondary-foreground: 0 0% 98%;
    --muted: 195 16% 35%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 174 62% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 16% 35%;
    --input: 195 16% 35%;
    --ring: 174 62% 37%;
    --chart-1: 174 62% 37%;
    --chart-2: 234 64% 49%;
    --chart-3: 210 40% 98%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
